{% extends "base.html" %}

{% block content %}
<h4> {{ artistas_viena_eilute_t.pavadinimas }} {{ artistas_viena_eilute_t.metai }}</h4>
<hr/>
<p>Biografija: {{ artistas_viena_eilute_t.biografija }} </p>
<hr/>
{% if artistas_viena_eilute_t.irasas_set.all %}
<p>Atlikėjas {{ artistas_viena_eilute_t.pavadinimas }} turi šiuos įrašus: </p>
<hr/>
    {% for irasas_o in artistas_viena_eilute_t.irasas_set.all %}
        <p>{{ irasas_o.albumas }}, metai: {{ irasas_o.metai_pasirode }}</p>
        <hr/>
    {% endfor %}
{% else %}
    <p>Atlikėjo įrašų nėra</p>
{% endif %}
{% endblock %}